@import "tailwindcss";

@font-face {
  font-family: 'Helvetica';
  src: url('/assets/fonts/HelveticaNowDisplay-Bold.ttf') format('truetype'); 
  font-weight: bold;
  font-style: normal;
  font-display: swap; 
}

@theme{
  --color-secondary: #141516;

  --font-helvetica: "Helvetica", sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
  cursor: wait;
  background-color: #141516;
}