@import "tailwindcss";

@font-face {
  font-family: 'Helvetica';
  src: url('/assets/fonts/HelveticaNowDisplay-Bold.ttf') format('truetype'); 
  font-weight: bold;
  font-style: normal;
  font-display: swap; 
}
@font-face {
  font-family: 'magneta';
  src: url('/assets/fonts/magneta-semi-bold.ttf') format('truetype'); 
  font-weight: bold;
  font-style: normal;
  font-display: swap; 
}
@font-face {
  font-family: 'pixelout';
  src: url('/assets/fonts/Pixelou.ttf') format('truetype'); 
  font-weight: bold;
  font-style: normal;
  font-display: swap; 
}



@theme{
  --color-primary: #FFFFFF;
  --color-secondary: #141516;
  --color-tertiary: #D7D7D7;

  --font-helvetica: "Helvetica", sans-serif;
  --font-magnet: "magneta", sans-serif;
  --font-pixel: "pixelout", sans-serif;

}

body {
  margin: 0;
  overflow: hidden;
  cursor: wait;
  background-color: #141516;
    overflow: hidden;
}