@import "tailwindcss";

@font-face {
  font-family: 'Helvetica';
  src: url('/assets/fonts/HelveticaNowDisplay-Bold.ttf') format('truetype'); 
  font-weight: bold;
  font-style: normal;
  font-display: swap; 
}
@font-face {
  font-family: 'Phonk';
  src: url('/assets/fonts/PhonkRegularDEMO.ttf') format('truetype'); 
  font-weight: bold;
  font-style: normal;
  font-display: swap; 
}
@font-face {
  font-family: 'Harmond';
  src: url('/assets/fonts/Harmond-SemBdItaCond.otf') format('opentype'); 
  font-weight: bold;
  font-style: normal;
  font-display: swap; 
}
@font-face {
  font-family: 'Harmonditalic';
  src: url('/assets/fonts/Harmond-SemiBoldCondensed.otf') format('opentype'); 
  font-weight: bold;
  font-style: normal;
  font-display: swap; 
}



@theme{
  --color-primary: #FFFFFF;
  --color-secondary: #141516;
  --color-tertiary: #D7D7D7;

  --font-helvetica: "Helvetica", sans-serif;
  --font-phonk: "Helvetica", sans-serif;
  --font-harmond: "Harmonditalic", sans-serif;
  --font-harmonditalic: "Harmond", sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
  cursor: wait;
  background-color: #141516;
}